@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scale-up {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .animate-scale-up {
    animation: scale-up 5s forwards;
  }
  
  .animate-fade-out {
    animation: fade-out 5s forwards;
  }
  